body{
    margin: 0;
}

button{
    background-color: transparent;
    color: white;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
}
button:hover{
    background-color: white;
    color: black;
    font-size: large;
    font-weight: bold;
    height: 30px;
}

